.container {
    display: grid;
    font-family: 'Open Sans', sans-serif;
    margin: 2em;
    height: 100%;
    grid-template-areas: "m h h h h h h h h h h h" "m c c c c c c c c c c c" "m f f f f f f f f f f f";
}

.header {
    grid-area: h;
}

.content {
    grid-area: c;
}

.menu {
    grid-area: m;
}