article {
    display: grid;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    grid-gap: 10px;
    grid-template-columns: 150px 1fr 1fr;
    grid-template-rows: 60px 1fr 1fr;
    grid-template-areas: "s h h" "s c c" "s c c";
}

.header {
    grid-area: h;
}

.content {
    grid-area: c;
}

.sidenav {
    grid-area: s;
    background-color: #111111;
    height: 100%;
}

.nestedcontent {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
}

.responsive {
    width: 100%;
    height: auto;
}


/* Sidebar links format */

.sidenav a,
.dropbtn {
    display: block;
    font-size: large;
    color: yellow;
    padding: 1em;
    text-decoration: none;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidenav a:hover,
.dropbtn:hover {
    background-color: #555;
    color: white;
}

.card {
    border: #111111;
    border: 1px;
    border-style: solid;
    border-radius: 3px;
    text-align: center;
}

.card>ul {
    text-align: left;
}

.dropdown {
    position: relative;
    display: inline-block;
    background-color: black;
}

.dropdown-content {
    display: none;
    position: relative;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#main-index {
    font-size: 40px;
}

code {
    font-size: large;
    color: red;
}

@media only screen and (max-width: 600px) {
    article {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "s" "h" "c";
        grid-template-rows: 65px 100px;
    }
    .nestedcontent {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr;
    }
    .sidenav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}